.builder-column {
    .filters {
        padding-bottom: 10px;
        padding-left: 10px;
        padding-right: 10px;
        margin-bottom: 10px;
        overflow-y: auto;
        overflow-x: visible;
        max-height: 300px;
        border-bottom: 1px solid #CCC;
    }

    .results {
        padding-left: 10px;
        padding-right: 10px;
    }
}

.builder-filter {
    margin-bottom: 5px;
}

.no-results {
    margin: 0;
    text-align: center;
}

.builder-column-filter {
    margin-bottom: 5px;

    .input-group {
        .input-group-btn {
            display: none;
        }
        &:hover > .input-group-btn {
            display: table-cell;
        }
    }
}
