.team-search-result {
    position: relative;
    text-align: left;
    padding-bottom: 30px;
    white-space: nowrap;

    .team-icon {
        display: inline-block;
        height: 100px;
        width: 100px;
        vertical-align: top;
    }

    .team-info {
        display: inline-block;

        .clickable:hover {
            color: #0000EE;
        }

        p {
            display: inline-block;
            margin: 0;
            margin-right: 5px;
            font-size: 14px;
        }
    }

    
    .tag {
        position: absolute;
        top: 0;
        right: 0;
        font-weight: bold;
    }
}