<div class="form-group labeled-input" ng-class="{'has-error': error, 'has-success': success}">
    <label class="control-label">{{::label}}:</label>
    <div class="input-group">
        <input type="text" class="form-control" ng-model="model" placeholder="{{::label}}" 
               uib-popover="{{error || success}}" popover-trigger="focus" popover-placement="top-right"/>
        <span ng-if="error" class="glyphicon glyphicon-remove form-control-feedback"></span>
        <span ng-if="success" class="glyphicon glyphicon-check form-control-feedback"></span>
    </div>
</div>