<div class="builder-column">
    <div class="filters">
        <input type="text" placeholder="{{filter.placeholder}}" class="form-control builder-filter" 
                ng-model="filter.model" ng-repeat="filter in filters" />

        <!-- Add Filter -->
        <div class="input-group">
            <div class="input-group-btn">
                <button class="btn btn-default" type="button" ng-click="addFilter(selectedFilter)"
                        ng-disabled="isDisabled(selectedFilter)">
                    <i class="fa fa-plus"></i>
                </button>
            </div>

            <select ng-model="selectedFilter" class="form-control"
                    ng-options="f.placeholder for f in filterOptions track by f.type"></select>
        </div>
    </div>

    <div class="results">
        <input type="text" placeholder="Champion Name" class="form-control builder-filter"
                ng-model="championName" />

        <champion-option champion="champ" ng-repeat="champ in filteredChamps = (champions
                                                    | champFilter:champions:filters
                                                    | filter:{name:championName}
                                                    | limitTo:8)"></champion-option>

        <p class="text-danger no-results" ng-if="!filteredChamps.length">No Results</p>
    </div>
</div>