<!-- The root template for the generic base site pages -->

<div class="base-page">

    <img class="lettuce-logo" ui-sref="base.landing" src="img/lettuce.png"></img>

    <div class="full" ui-view></div> 

    <div class="search">
        <i class="fa fa-search fa-2x"></i>
        <input type="text" placeholder="Search for a Team" class="form-control"
               ng-model="query" on-enter="search()" 
               uib-typeahead="name for name in teamNames | filter:$viewValue | limitTo:8" />
    </div>
    
</div>