
<nav class="navbar navbar-default navbar-static-top">
  <head>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.js"></script>
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-1.3.2.js"></script>
    <script src="navbar-controller.js"></script>
  </head>
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" ng-click="collapsed = !collapsed">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" ui-sref="team.home" ng-bind="::team"></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="navbar-collapse" ng-class="{collapse: collapsed}">
      <ul class="nav navbar-nav">
        <li ng-class="{active: isActive('/comps')}"><a ui-sref="team.comps" href="">Comps</a></li>
      </ul>
      
      <ul class="nav navbar-nav navbar-right">

        <li ng-if="!authenticated">
          <p class="navbar-btn">
            <button type="button" class="btn btn-default" ng-click="register()">Register</button>
          </p>
        </li>

        <li ng-if="!authenticated">
          <p class="navbar-btn">
            <button type="button" class="btn btn-default" ng-click="login()">Login</button>
          </p>
        </li>

        <li ng-if="authenticated">
          <p class="navbar-btn">
            <button type="button" class="btn btn-default" ng-click="logout()">Logout</button>
          </p>
        </li>

      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
