<div class="comp-page">
    {{comp.name}}
    <div class="lanes">
        <div class="lane" ng-repeat="lane in comp.lanes">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <p>{{lane.name}}</p>
                    <div title="Lock to external edits">
                        <i class="fa clickable" ng-click="locked = !locked"
                        ng-class="{'fa-unlock': !locked, 'fa-lock': locked}"></i>
                    </div>
                </div>

                <div class="panel-body">
                    <builder-column champions="champions" filters="lane.filters"
                                    champion-name="lane.championNameFilter"></builder-column>
                </div>
            </div>
        </div>
    </div>
</div>