<div class="comp-page">
    {{comp.name}}
    <div class="lanes">
        <div class="lane" ng-repeat="lane in comp.lanes">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <p>{{lane.name}} - {{getChampName(lane.selectedChampion)}}</p>
                    <!-- <div title="Lock to external edits">
                        <i class="fa clickable" ng-click="locked = !locked"
                        ng-class="{'fa-unlock': !locked, 'fa-lock': locked}"></i>
                    </div> -->
                </div>

                <div class="panel-body">
                    <builder-column champions="champions" filters="lane.filters"
                        lane="lane" champion-name="lane.championNameFilter"
                        read-only="!authenticated"></builder-column>
                </div>
            </div>
        </div>
    </div>
</div>