<div class="comps-page">
    <div class="row" ng-repeat="comp in comps">
        <div class="col-md-12">
            <h2><a ui-sref="team.comp({compID:comp._id})" ng-bind="::comp.name"></a></h2>
            <img class="champion-thumbnail" ng-repeat="lane in comp.lanes" ng-src="{{getImage(lane.selectedChampion)}}" />
        </div>
    </div>
    
    <button ng-if="comps.length > 0" class="btn btn-primary" ng-click="openCreateCompModal()">Create new Comp</button>

    <div class="jumbotron" ng-if="comps.length <= 0">
        <h3>No comps created yet</h3>
        <p>Get started by creating a comp for your team to edit</p>
        <button class="btn btn-primary" ng-click="openCreateCompModal()">Create new Comp</button>
    </div>
</div>